.preNav{
    padding: 5px 0;
    background-color: rgb(238, 233, 233);
}

span{
    margin: 0 10px;
}

.preNav>.social{
    display: flex;
    justify-content: right;
}
.socialIcon{
    margin: 0 10px;
}
.btns{
    display: flex;
}
.login_btn{
    box-shadow: 5px 5px 5px rgb(181, 178, 178, 0.8);
}
.signup_btn{
    margin-left: 10px;
    box-shadow: 5px 5px 5px rgb(181, 178, 178, 0.8);
}

.nav{
    /* background-color: #cbd5e1; */
    height: 70px;
    box-shadow: 5px 5px 5px rgb(181, 178, 178, 0.8);
    margin-bottom: 20px;
}

.navbar-collapse{
    /* background-color: #cbd5e1; */
}

.search{
    /* box-shadow: 5px 5px 5px rgb(181, 178, 178, 0.8); */
}

.search-btn{
    /* box-shadow: 5px 5px 5px rgb(181, 178, 178, 0.8); */
}

.search:focus{
    box-shadow: none;
    outline: none;
    border: none;
}

.search_box{
    display: flex;

}